//Add Google Fonts here
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Spectral:wght@200;400&display=swap");

//Typography
$font-head: "Spectral", serif;
$font-body: "Open Sans", Arial, Helvetica, sans-serif;

//Color Palette
$primary-color: #993333;
$secondary-color: #333333;
$background-color: #fcf9f2;

//$primary-color: #403123;
