//Importing Style Guides, to modify go-to _style-guides.scss
@import "./_style-guides.scss";

//Base CSS starts here
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-color;
  ::selection {
    background: #fde5cd88; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #fde5cd88; /* Gecko Browsers */
  }
}

h1 {
  font: 280% $font-head;
  letter-spacing: -0.03em;
  color: $primary-color;
  font-display: swap;
}

h2 {
  font: 180% $font-head;
  letter-spacing: -0.05em;
  color: $primary-color;
  font-display: swap;
}

p {
  font: 120% $font-body;
  color: $secondary-color;
  font-display: swap;
}

li {
  font: 120% $font-body;
  color: $secondary-color;
  font-display: swap;
}

//Custom classes start here

.equal-spacing {
  display: flex;
  align-items: space-between;
  justify-content: flex-end;
}

.padding-vertical {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.normal-anchor {
  font: 120% $font-body;
  color: $secondary-color;
  text-decoration: underline 4px #403123aa;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms;
  padding-right: 2rem;
}
.normal-anchor:hover {
  color: $primary-color;
  text-decoration-color: #403123ff;
}

.secret-anchor {
  color: $secondary-color;
  text-decoration: none;
  text-decoration: underline 4px #40312366;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms;
}

.secret-anchor:hover {
  color: $primary-color;
  text-decoration-color: #403123dd;
}
