//Importing tailwind Utilities
@tailwind base;
@tailwind components;
@tailwind utilities;

//Importing Style Guides, to modify go-to _style-guides.scss
@import "./_style-guides.scss";

//Importing mixins, to modify breakpoints go-to mixins.scss
@import "./mixins.scss";

//Base CSS Reset
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $background-color;
  ::selection {
    background: #fde5cd88; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #fde5cd88; /* Gecko Browsers */
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Typography Styling
h1 {
  font: 1.8rem $font-head;
  letter-spacing: -0.03em;
  font-display: swap;
  color: $primary-color;
  @include for-tablet-up {
    font: 2rem $font-head;
  }
}

h2 {
  font: 1.4rem $font-head;
  letter-spacing: -0.05em;
  font-display: swap;
  color: $primary-color;
  @include for-tablet-up {
    font: 1.6rem $font-head;
  }
}

h3 {
  font: 1.4rem $font-head;
  letter-spacing: -0.08em;
  padding-bottom: 1.2rem;
  font-display: swap;
  color: $primary-color;
  @include for-tablet-up {
    font: 1.6rem $font-head;
  }
}

p {
  font: 1rem $font-body;
  font-display: swap;
  color: $secondary-color;
  @include for-tablet-up {
    font: 1.2rem $font-body;
  }
}

a {
  font: 1rem $font-body;
  font-display: swap;
  color: $primary-color;
  @include for-tablet-up {
    font: 1.2rem $font-body;
  }
}

li {
  font: 1rem $font-body;
  letter-spacing: -0.03em;
  font-display: swap;
  color: $secondary-color;
  @include for-tablet-up {
    font: 1.2rem $font-body;
  }
}

blockquote {
  font: 1rem $font-body;
  font-display: swap;
  color: $primary-color;
  margin: 2rem 0;
  padding: 3rem 2rem 2rem 1rem;
  width: 100%;
  position: relative;
  background: $accent-color;
  border-left: 0.5rem solid $primary-color;
  @include for-tablet-up {
    width: 60%;
    padding: 2rem 4rem;
    font: 1.2rem $font-body;
  }
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: $primary-color;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -5px;
}

blockquote::after {
  content: "";
}

//Custom classes start here

//Center align content vertically
.content-block {
  min-height: 80vh;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-element {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.content-element__first {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.content-element__last {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.normal-anchor {
  font: 1.2rem $font-body;
  color: $secondary-color;
  text-decoration: underline 2px #403123aa;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms;
}
.normal-anchor:hover {
  color: $primary-color;
  text-decoration-color: #403123ff;
}

.normal-icons {
  margin: 4px;
  width: 32px;
  height: 32px;
}
