//Global Styles
@import "./../../styles/_style-guides.scss";

.card {
  width: auto;
  max-width: 30%;
  height: auto;
  border: 1px solid $accent-color;
  border-radius: 4px 24px;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  margin: 1rem;
  background-color: #fde5cd20;
}

.image {
  width: 100%;
  border-radius: 2px 12px;
  max-width: inherit;
  min-width: 100%;
  min-height: 40%;
  height: auto;
}

.texth4 {
  font: 160% $font-head;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: $primary-color;
  font-display: swap;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.textp {
  font: 100% $font-body;
  color: $secondary-color;
  font-display: swap;
  padding-top: 0rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.textspan {
  font: 100% $font-body;
  color: $secondary-color;
  font-display: swap;
  padding: 1rem 2rem;
  font-weight: bold;
}

.link {
  text-decoration: none;
  position: relative;
}
