//Importing Style Guides, to modify go-to _style-guides.scss
@import "./../../styles/_style-guides.scss";

//Importing mixins, to modify breakpoints go-to mixins.scss
@import "./../../styles/mixins.scss";

.container {
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;

  @include for-tablet-up {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.backgroundImage {
  width: 50%;
  opacity: 0.4;
  height: auto;
  max-height: 100%;
  bottom: 0;
  right: 10vw;
  position: fixed;
}
