//Importing Style Guides, to modify go-to _style-guides.scss
@import "./../../styles/_style-guides.scss";

//Importing mixins, to modify breakpoints go-to mixins.scss
@import "./../../styles/mixins.scss";

.image {
  width: auto;
  margin-bottom: 2rem;
}

.textbox {
  width: auto;
  max-width: 60%;
  margin-top: 2rem;
  margin-left: 6rem;
}

.date {
  font: 100% $font-body;
  color: $secondary-color;
  font-display: swap;
  margin-top: 0rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  display: block;
}

.content {
  width: auto;
  max-width: 60%;
  margin-left: 10%;
  margin-right: 10%;
}
