//Importing Style Guides, to modify go-to _style-guides.scss
@import "./../../styles/_style-guides.scss";

//Importing mixins, to modify breakpoints go-to mixins.scss
@import "./../../styles/mixins.scss";

.postContent {
  .postTitle {
  }
  .postDate {
    font: 1rem $font-body;
    color: $secondary-color;
    font-display: swap;
    margin-top: 0rem;
    margin-bottom: 2rem;
    display: inline-block;
  }
  .postHero {
    width: auto;
    margin-bottom: 2rem;
  }
  .postBody {
    width: auto;
    @include for-tablet-up {
      width: 60%;
      margin-left: 10%;
      margin-right: 10%;
    }
    *,
    *:before,
    *:after {
      margin-bottom: 2rem;
    }
  }
}
