//Importing Style Guides, to modify go-to _style-guides.scss
@import "./../../styles/_style-guides.scss";

//Base CSS styles
header {
  height: 10%;
  width: 100%;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-bottom: 4rem;

    .logo {
      margin-top: 4%;
      margin-left: 1em;
      a {
        text-decoration: none;
      }
      span {
        padding: 2rem;
        position: absolute;
        text-transform: uppercase;
        font: 120% $font-head;
        font-weight: 400;
        color: $primary-color;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    .menu-top {
      margin-top: 5%;
      margin-left: 60%;
      nav {
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          li {
            list-style: none;
            text-align: right;
            a {
              font: 100% $font-body;
              color: $primary-color;
              text-decoration: none;
              font-weight: 400;
              display: inline-block;
              padding: 1.2rem;
            }
            a:hover {
              -webkit-transform: translate(1px, -2px);
              transform: translate(1px, -2px);
              transition: 300ms linear;
              will-change: transform;
            }
            .active {
              font-weight: 600;
            }
          }
        }
      }
    }
    //Menu button and animation
    .menu-button {
      .menu-icon {
        position: absolute;
        margin: 0rem;
        margin-top: 0.8%;
        width: 32px;
        cursor: pointer;
        z-index: 10;
      }

      .menu-icon:after,
      .menu-icon:before,
      .menu-icon span {
        border-radius: 2px;
        background-color: $primary-color;
        content: "";
        display: block;
        height: 2px;
        margin: 6px 0;
        transition: all 300ms linear;
      }

      .menu-icon-active:before {
        -webkit-transform: translateY(8px) rotate(135deg);
        transform: translateY(8px) rotate(135deg);
        will-change: transform;
      }

      .menu-icon-active:after {
        -webkit-transform: translateY(-8px) rotate(-135deg);
        transform: translateY(-8px) rotate(-135deg);
        will-change: transform;
      }

      .menu-icon-active span {
        -webkit-transform: scale(0);
        transform: scale(0);
        will-change: transform;
      }
    }
  }
}

//Menu overlay
.menu-outer {
  z-index: 5;
  position: fixed;
  width: 16%;
  height: 100%;
  top: 0;
  left: 10;
  right: 0;
  bottom: 0;
  background-color: $accent-color;
  .menu-inner {
    margin-top: 14vh;
    margin-left: -4%;
    ul {
      display: flex;
      flex-direction: column;
    }
    li {
      list-style: none;
      text-align: left;
      a {
        font: 100% $font-body;
        color: $primary-color;
        text-decoration: none;
        font-weight: 400;
        display: block;
        padding: 1.2rem;
      }
      a:hover {
        font-weight: 600;
        -webkit-transform: translate(1px, -2px);
        transform: translate(1px, -2px);
        transition: 300ms linear;
        will-change: transform;
      }
    }
  }
}

.menu-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
}

.move-shit{
  transform: translateX(-5rem);
}
