//Importing Style Guides, to modify go-to _style-guides.scss
@import "./../../styles/_style-guides.scss";

footer {
  height: 10%;
  width: 100%;

  .inner-footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 80px;
    padding-left: 12rem;
    padding-right: 12rem;

    p {
      font: 120% $font-body;
      color: $secondary-color;
      line-height: 1.4;
    }
    a {
      font: $font-body;
      color: $primary-color;
      line-height: 1.4;
      text-decoration: none;
    }
  }
}
